<h1><%= problem.title %></h1>
<div><%= problem.description %></div>
<div>정답자: <%= problem.completedUsers %></div>
<div>난이도: Level <%= problem.difficultyLevel %></div>
<div>예시 : <%= problem.tests[0].code %>
  결과: <%= problem.tests[0].solution %></div>
<form action="/problems/<%= problem.id %>" method="POST">
  <textarea id="code-mirror" name="code-mirror"></textarea>
  <button type="submit">submit</button>
</form>
