<form class="logout-form" action="/logout" method="POST">
  <button type="submit">Log out</button>
</form>

<ul class="problems">
  <% problems.forEach((problem) => { %>
    <li class="problem" >
      <form action="problems/<%= problem.id %>" method="GET">
        <div class="problem-header">
          <div class="problem-level-<%= problem.difficultyLevel %>">Lv <%= problem.difficultyLevel %></div>
          <h2><%= problem.title %></h2>
        </div>
        <div ><%= problem.description %></div>
        <button type="submit">Move to Problem</button>
      </form>
    </li>
  <% }) %>
</ul>
